.mininformationbeskrivelse h2{
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}
.mininformationbeskrivelse p{
        width: 480px;
        margin: auto;
        text-align: center;
}

.informationsdata{
    width: 400px;
    margin: auto;
    padding-top: 20px;
}
.informationsdata p{
    margin-top: 30px;
}
.stenoidforklaring{
    display: none;
}
.stenoidbeskrivelse:hover + .stenoidforklaring{
    display: block;
    font-size: 12px;
}